#main {
    position: relative;
    width: 100%;
    height: fit-content
}

#top-background {
    position: relative;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 95vh;
}

#top {
    position: absolute;

    background-color: var(--background);

    width: 100%;
    height: 95vh;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

#top a {
    font-size: 50px;
    letter-spacing: 20px;
    font-weight: bold;
    color: var(--textColor2);
}